* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace, sans-serif;
	color: white;
}

body {
	background-color: #222222;
}

ul {
	list-style: none;
}

a {
	color: yellowgreen;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	opacity: .8;
}

button {
	background-color: yellowgreen;
}

p {
	font-size: 1.15rem;
	line-height: 1.5rem;
}